* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
i:hover {
    cursor: pointer;
}

.flex {
    display: flex;
}
.justify-center {   
    justify-content: center;
}
.align-center {
    align-items: center;
}

.background {
    background-color: #dcdbd1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: auto;
    margin: 0;
}

.background div {
    background-color: #009688;
    height: 100px;
}

.container {
    height: 80vh;
    width: 1200px;
    margin: auto;
    padding-top: 50px;
    z-index: 5;
    position: relative;
}

.menu {
    width: 30%;
    height: 100%;
}

.message-container {
    width: 70%;
    height: 100%;
    border-left: 1px solid black;
}


.avatar-info {
    margin-left: 5px;
}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header {
    justify-content: space-between;
    padding: 5px;
    background-color: #eaeaea;
}

.header-icons i {
    margin: 0 5px;
}

.last-access {
    color: rgb(184, 184, 184);
    font-size: 15px;
}

.notif-wrapper {
    background-color: #8edafc;
    padding: 10px;
}

.notif-wrapper i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    margin-right: 5px;
}

.notif-text {
    font-size: 12px;
    line-height: 17px;
}
.notif-text a {
    color: rgb(143, 143, 143);
}

#search {
    padding: 5px;
    border: none;
    width: 80%;
}

.input-search {
    padding: 5px 0;
    background-color: white;
}

.input-search i {
    width: 10%;
    text-align: center;
}

.contacts {
    overflow: auto;
    height: calc(100% - 155px);
    background-color: white;
}

.contacts > .avatar-img {
    padding-left: 10px;
}

.contact {
    justify-content: space-between;
    padding: 10px;
}
.contact:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.last-message {
    color: rgb(143, 143, 143);;
}


.messages {
    height: calc(100% - 100px);
    background-image: url('../img/mine.jpg');
    padding: 10px;
    overflow: auto;
}

.message-input {
    height: 40px;
    justify-content: space-around;
    background-color: #f3eeea;
}

#message {
    padding: 5px;
    border: none;
    width: 80%;
}

.message {
    width: 30%;
    padding: 20px;
    position: relative;
    margin: 8px 0;
}

.message span {
    font-size: 15px;
}

.sender-message {
    background-color: #d5f9ba;
    margin-left: auto;
    border-radius: 80px 80px 0px 80px;
}

.receiver-message {
    margin-right: auto;
    background-color: white;
    border-radius: 80px 80px 80px 0px;
}

.sent-time {
    position: absolute;
    right: 15px;
    font-size: 10px;
}
