* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
i:hover {
    cursor: pointer;
}

.flex {
    display: flex;
}
.justify-center {   
    justify-content: center;
}
.align-center {
    align-items: center;
}

.container {
    height: 90vh;
    width: 1200px;
    margin: 20px auto;
    border: 1px solid black;
}

.menu {
    width: 30%;
    height: 100%;
}

.message-container {
    width: 70%;
    height: 100%;
}


.avatar-info {
    margin-left: 5px;
}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header {
    justify-content: space-between;
    padding: 5px;
    background-color: #eaeaea;
}

.header-icons i {
    margin: 0 5px;
}

.last-access {
    color: rgb(184, 184, 184);
    font-size: 15px;
}

.notif-wrapper {
    background-color: #8edafc;
    padding: 10px;
}

.notif-wrapper i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    margin-right: 5px;
}

.notif-text {
    font-size: 12px;
    line-height: 17px;
}
.notif-text a {
    color: rgb(143, 143, 143);
}

#search {
    padding: 5px;
    border: none;
    width: 90%;
}

.input-search {
    padding: 5px 0;
}

.input-search i {
    width: 10%;
    text-align: center;
}

.contacts {
    overflow: auto;
    height: calc(100% - 155px);
}

.contacts > .avatar-img {
    padding-left: 10px;
}

.contact {
    justify-content: space-between;
    padding: 10px;
}
.contact:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.last-message {
    color: rgb(143, 143, 143);;
}