<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzap</title>
</head>
<body>
    <div class="background">
        <div></div>
    </div>
    <div id="app" class="container flex">
        <aside class="menu">
            <div class="header flex align-center">
                <div class="avatar flex align-center">
                    <img class="avatar-img" src="./img/avatar_1.jpg" alt="">
                    <div class="avatar-info">
                        <span class="avatar-name">Io</span>
                    </div>
                </div>

                <div class="header-icons">
                    <i class="fa-solid fa-rotate-right"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="notif-wrapper flex align-center">
                <i class="fa-solid fa-bell-slash flex align-center justify-center"></i>
                <div class="notif-text">
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="input-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input @keyup="searchContacts()" v-model="searched" type="text" placeholder="Cerca contatti" id="search">
            </div>
            <div class="contacts">
                <div class="contact flex" :class="index == contacts.indexOf(currentContact) ? 'active': ''" v-for="(contact, index) in searchedContacts" @click="displayMessages(index)">
                    <div class="avatar flex">
                        <img :src="contact.avatar" class="avatar-img" alt="contact.name">
                        <div class="avatar-info">
                            <span class="avatar-name">{{contact.name}}</span>
                            <div class="last-message">
                                {{contact.messages[contact.messages.length - 1].message}}
                            </div>
                        </div>
                    </div>
                    <div class="contact-last-access">
                        {{contact.messages[contact.messages.length - 1].date}}
                    </div>
                </div>
        </aside>
        <main class="message-container">
            <div class="header flex align-center">
                <div class="avatar flex align-center">
                    <img class="avatar-img" :src="currentContact.avatar" alt="">
                    <div class="avatar-info">
                        <span class="avatar-name">{{currentContact.name}}</span>
                        <div class="last-access" :class="{'hidden': isTyping}">Ultimo accesso {{currentContact.messages[currentContact.messages.length - 1].date}}</div>
                        <div class="last-access" :class="{'hidden': !isTyping}">Sta scrivendo...</div>
                    </div>
                </div>

                <div class="header-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="messages">

                <div class="message" :class="currentContact.messages[index].status=='sent'?'sender-message':'receiver-message'" v-for="(message, index) in currentContact.messages" @mouseover="hover = index" @mouseleave="hover = null">
                    <span>{{currentContact.messages[index].message}}</span>
                    <div class="sent-time">
                        {{message.date}}
                    </div>
                </div>

            </div>
            <div class="message-input flex align-center">
                <i class="fa-regular fa-face-smile"></i>
                <input @keyup.enter="sendMessage()" v-model="message" type="text" placeholder="Scrivi Messaggio" id="message">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="contacts.js"></script>
    <script src="main.js"></script>

</body>
</html>